@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*-----------------header---------------------*/
.logo {
  width: 90px;
}

header h1 {
  color: #ff827b;
  font-family: 'Satisfy';
  margin-top: 20px;
}

nav li {
  font-size: 20px;
}

li a {
  color: #61aee6;
  font-weight: 400px;
  font-family: 'Open Sans';
}

a:focus, a:hover {
  color: #ff827b;
  text-decoration: none;
}

nav {
  top: 20px;
}
/*-----------------end header-------------------*/
/*-----------------------Jumbotron-----------------*/
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}

.jumbotron h2 {
  font-family: 'Open Sans';
  font-weight:400;
  color: white;
}

/*----------------Jumbotron end----------------------*/
/*-------------------------content----------------------*/
.features {
  margin-bottom: 60px;
}

.product {
  background-color: #edf1f4;
  border-radius: 5%;
  border: 5px solid rgb(252,252,252);
}
.thumbnail {
  background-color: #edf1f4;
  padding: 10px;
}

/*--------------------------content end------------------*/
/*----------------footer-------------------------*/
.footer {
  background-color: #231f20;
  padding-top: 20px;
}

.footer a {
  color: #bfc0c1;
}

.contact-info {
  padding-top: 15px;
  padding-left: 40px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.social {
  padding-top: 15px;
}

.fine-print {
  color: #505050;
  margin: 10px 0px 15px;

}
/*----------------------footer end-----------------------*/


/*contact*/
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}
